@import "fonts.css";

html {
  font-size: 62.5%;
}

.diploma__site {
  width: 100%;
  margin: 0; 
  font-family: Open Sans, Arial, sans-serif;
  box-sizing: border-box;
  min-width: 320px; 
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3.5rem;
  padding-bottom: 8.6rem;
  padding-right: 6.25vw;
  padding-left: 6.25vw;
  background: url(images/football_1280.png);
  background-color: rgb(10, 14, 52);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 3.7rem;
  font-weight: bold;
}

.header__logo__icon {
  fill: #ffffff;
  display: block;
  width: 13rem;
  height: 3.5rem;
  margin: 0 auto;
}

.header__title,
.header__subtitle {
  font-size: 2.8rem;
}

.header__title {
  margin-top: 12.5rem;
  margin-bottom: 1.5rem;
}

.header__subtitle {
  margin-top: 0;
  margin-bottom: 8rem;
  margin-left: 4.5rem;
}

.header__button {
  display: flex;
  width: 100%;
  padding: 0.1rem 7.5rem 0.8rem 8rem;
  font-size: 0.8rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  background-color: #5e42b0;
  border: none;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.header__button:hover {
  cursor: pointer;
  background-color: #501be9;
  transition: none;
}

.header__button + .header__button {
  margin-top: 1.2rem;
}

.button__icon {
  display: inline-block;
  width: 2.5rem;
  height: 2rem;
  margin-right: 0.8rem;
  margin-top: 0.2rem;
  fill: #ffffff;
}

.button__store {
  font-weight: 600;
  display: block;
}

.header__button__text {
  padding-top: 0.75rem;
}

@media (min-width: 641px) and (max-width: 960px) {
  
  .diploma__site {
    width:102%;
  }

  .header,
  .footer {
    flex-flow: wrap;
    justify-content: space-between;
    padding-right: 5vw;
  }

  .header {
    padding-bottom: 8.8rem;
    background: url(../img/header-768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header__logo {
    margin-left: 22rem;
  }

  .header__logo__icon {
    width: 21rem;
    height: 6.5rem;
    padding-left: 1rem;
  }

  .header__title,
  .header__subtitle {
    font-size: 6.3rem;
  }

  .header__title {
    margin-top: 17.9rem;
    margin-bottom: 2.5rem;
    margin-left: 3.7rem;
    letter-spacing: 0.4rem;
  }
    
  .header__subtitle {
    margin-left: 14.5rem;
    margin-bottom: 30rem;
    letter-spacing: 0.4rem;
    line-height: 7.5rem;
  }

  .header__button {
    width: 46%;
    border-radius: 40px;
    padding: 2rem 6rem 2rem 6rem;
    font-size: 1.4rem;
  }
 
  .header__button + .header__button {
    margin-top: 0; 
    margin-right: 2rem;
  }

  .button__apple {
    margin-left: 1rem;
    padding-left: 3.8rem;
    padding-top: 1.4rem;
  }
  
  .button__google .header__button__text {
    padding-top: 0.3rem;
  }

  .button__icon {
    width: 4rem;
    height: 4rem;
    margin-right: 2.6rem;
    margin-top: 0;
  }
}
